# Node modules
client/node_modules/
server/node_modules/

# Build output
client/build/

# Environment variables
client/.env
server/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code settings
.vscode/
